<h1>The following are stylists of the salon:</h1>

<ul>
  <% @stylists.each do |stylist| %>
  <li><a href="/stylist/<%= stylist.id() %>"><%= stylist.name() %></a></li>
  <% end %>
</ul>


<h1>Add a new stylist below:</h1>

<form action="/new_stylist" method="post">
  <label for="name">Name of new stylist</label>
  <input id="name" name="name" type="text">
  <button type="submit">Add Stylist</button>
</form>

<a href="/">Return to the main page</a>
